%div{:class => 'topbar', :"data-dropdown" => 'dropdown'}
  %div{:class => 'topbar-inner'}
    %div{:class => 'container-fluid'}
      %h3
        =link_to image_tag("wot-logo-header.png", :border => 0, :style => 'margin-right: 15px'), root_path, :style => 'margin: 0px; padding: 0px'
      -if user_signed_in?
        %nav
          %ul{:class => 'nav'}
            %li{:class => check_item_active(request.url, '')}= link_to 'Home', root_path
            - if current_user.admin
              %li{:class => check_item_active(request.url, 'reports')}= link_to 'Reports', reports_path
              -#%li{:class => check_item_active(request.url, 'funnels')}=# link_to 'Add files', funnels_path
        %nav
          %ul{:class => 'nav secondary-nav'}
            %li{:class => 'dropdown'}
              = link_to current_user.username.capitalize, '#', :class => 'dropdown-toggle'
              %ul{:class => 'dropdown-menu'}
                %li= link_to 'Preferences', '#'
                %li{:class => 'divider'}
                %li= link_to 'Logout', destroy_user_session_path
