%div{:class => 'topbar', :"data-dropdown" => 'dropdown'}
	%div{:class => 'topbar-inner'}
		%div{:class => 'container-fluid'}
			%a{:class => 'brand', :href => '#'} WoT Dashboard
			%ul{:class => 'nav'}
				%li{:class => 'active'}
					%a{:href => '#'} Home
				- if current_user.admin
					%li= link_to 'Users', '#'
				%li= link_to 'Add files', '#'
			%p
			%ul{:class => 'nav secondary-nav'}
				%li{:class => 'dropdown'}
					= link_to current_user.username.capitalize, '#', :class => 'dropdown-toggle'
					%ul{:class => 'dropdown-menu'}
						%li= link_to 'Preferences', '#'
						%li{:class => 'divider'}
						%li= link_to 'Logout', destroy_user_session_path