%div.sidebar
	%div.well
		%h5 Report
		=form_for(:user, :url => {:controller => 'home', :action => 'index'}) do |f|
			%p= f.select :name, [['Report 1', 1],['Report 2', 2]], {:prompt => 'select one'},:class => 'medium'
			%p= f.text_field :week, :class => 'span3'
			%p= f.submit 'Go', :class => 'btn small primary'
	%div.well
		%h5 Related Reports
		%ul
			%li
				%a{:href=> "#"} Report 3
			%li
				%a{:href=> "#"} Report 14
			%li
				%a{:href=> "#"} Report 2
%div.content
	- flash.each do |name, msg|
		= show_flash name, msg
	%div.page-header
		%h2
			Dashboard
			%small View chart
	%ul.breadcrumb
		%li
			%a{:href => "#"} Dashboard
			%span.divider /
		%li.active
			%a{:href => "#"} tmp
	%div.row
		%div.span10
			%div{:style => "width:550px;height:320px"}
		%div.span3
			%h4 Choose a graphic
			%div.input
				%select{:class => "medium", :multiple => 'multiple', :name => 'graphic', :id => 'graphic'}
					%option{:value => "1"} Lines
					%option{:value => "2"} Funnel
	%div.row
		%div.span1 To
		%div.span5= text_field_tag 'begin', date_formated(-15)
		%div.span1 From
		%div.span5= text_field_tag 'end', date_formated
		%div.span4= link_to "Generate chart", "#", :class => 'btn'
	%div.row
		%div.span16
			%h2 Reporte 1
			%p Example description Example description Example description Example description Example description Example description Example description