%div.sidebar
	%div.well
		%h5 Related Reports
		%ul
			%li
				%a{:href=> "#"} Report 3
			%li
				%a{:href=> "#"} Report 14
			%li
				%a{:href=> "#"} Report 2
%div.content
	- flash.each do |name, msg|
		= show_flash name, msg
	%div.page-header
		%h2 
			Add Files
			%small Preview
	%div.row
		%div.span12
			%h4 With Promo Actions/Ads
			%table
				%thead
					%tr
						%th #
						%th Start Date
						%th End Date
						%th Confirmed
						%th Logged In
						%th First Upgarde
						%th Tank Purchase
					- @preview[:with].each do |row|
						%tr
							%td= row[:number]
							%td= row[:start_date]
							%td= row[:end_date]
							%td= row[:confirmed]
							%td= row[:logged_in]
							%td= row[:first_upgrade]
							%td= row[:tank_purchase]
			%h4 Without Promo Actions/Ads
			%table
				%thead
					%tr
						%th #
						%th Start Date
						%th End Date
						%th Confirmed
						%th Logged In
						%th First Upgarde
						%th Tank Purchase
					- @preview[:without].each do |row|
						%tr
							%td= row[:number]
							%td= row[:start_date]
							%td= row[:end_date]
							%td= row[:confirmed]
							%td= row[:logged_in]
							%td= row[:first_upgrade]
							%td= row[:tank_purchase]
			%div.well{:style => 'padding: 14px 19px;text-align:center;'}
				%div.action
					= link_to 'Cancel', funnels_path, :class => 'btn cancel'
					= link_to 'Ok', funnels_process_file_path(@data_file), :class => 'btn primary'
						