%div.sidebar
	%div.well
		%h5 Related Reports
		%ul
			%li
				%a{:href=> "#"} Report 3
			%li
				%a{:href=> "#"} Report 14
			%li
				%a{:href=> "#"} Report 2
%div.content
	- flash.each do |name, msg|
		= show_flash name, msg
	%div.page-header
		%h2
			Add Files
			%small Preview
	%div.row
		%div.span12
			%h4 With Promo Actions/Ads
			%table
				%thead
					%tr
						%th #
						-#%th Start Date
						-#%th End Date
						%th Confirmed
						%th Logged In
						%th First Battle
						%th First Upgrade
						%th Tank Purchase
					- @preview[:ads].each do |row|
						%tr
							%td= row[:week]
							-#%td= row[:start_date]
							-#%td= row[:end_date]
							%td= number_with_delimiter row[:confirmed]
							%td= number_with_delimiter row[:logged_in]
							%td= number_with_delimiter row[:first_battle]
							%td= number_with_delimiter row[:first_upgrade]
							%td= number_with_delimiter row[:tank_purchase]
			%h4 Direct Traffic
			%table
				%thead
					%tr
						%th Week
						-#%th Start Date
						-#%th End Date
						%th Confirmed
						%th Logged In
						%th First Battle
						%th First Upgrade
						%th Tank Purchase
					- @preview[:direct].each do |row|
						%tr
							%td.week= row[:week]
							-#%td= row[:start_date]
							-#%td= row[:end_date]
							%td= number_with_delimiter(row[:confirmed])
							%td= number_with_delimiter(row[:logged_in])
							%td= number_with_delimiter(row[:first_battle])
							%td= number_with_delimiter(row[:first_upgrade])
							%td= number_with_delimiter(row[:tank_purchase])
			%div.well{:style => 'padding: 14px 19px;text-align:center;'}
				%div.action
					= link_to 'Cancel', funnels_path, :class => 'btn cancel'
					= link_to 'Ok', funnels_process_file_path(@data_file), :class => 'btn primary'
