-# totals = funnels.last[:totals]
%h4=title
%table
    %thead
        %tr
            %th Week
            %th Confirmed
            %th Logged In
            %th First Battle
            %th First Upgrade
            %th Tank Purchase
    %tbody
        - funnels[0...funnels.size - 1].each do |funnel|
            %tr
                %td.week=# funnel[:week]
                %td= number_with_delimiter(funnel.confirmed)
                %td= number_with_delimiter(funnel.logged_in)
                %td= number_with_delimiter(funnel.first_battle)
                %td= number_with_delimiter(funnel.first_upgrade)
                %td= number_with_delimiter(funnel.tank_purchase)
    %tfoot
        %tr
            %td.totals Totals
            %td=#number_with_delimiter(totals[:confirmed])
            %td=#number_with_delimiter(totals[:logged_in])
            %td=#number_with_delimiter(totals[:first_battle])
            %td=#number_with_delimiter(totals[:first_upgrade])
            %td=#number_with_delimiter(totals[:tank_purchase])
