-# totals = funnels.last[:totals]
%h4=title
%table
    %thead
        %tr
            %th Week
            %th Confirmed
            %th Logged In
            %th First Battle
            %th First Upgrade
            %th Tank Purchase
    %tbody
        - funnels.each do |funnel|
            %tr
                %td.week
                    ="#{funnel.start_date.strftime("%m %b")} - #{funnel.end_date.strftime("%m %b")} "
                %td= number_with_delimiter(funnel.confirmed)
                %td= number_with_delimiter(funnel.logged_in)
                %td= number_with_delimiter(funnel.first_battle)
                %td= number_with_delimiter(funnel.first_upgrade)
                %td= number_with_delimiter(funnel.tank_purchase)
    %tfoot
        %tr
            %td.totals Totals
            %td=number_with_delimiter(funnels.sum(:confirmed))
            %td=number_with_delimiter(funnels.sum(:logged_in))
            %td=number_with_delimiter(funnels.sum(:first_battle))
            %td=number_with_delimiter(funnels.sum(:first_upgrade))
            %td=number_with_delimiter(funnels.sum(:tank_purchase))
