%div.sidebar
	=# render 'sidebar'
%div.content
	%div.page-header
		%h2
			Reports
			%small= "Most recents"
	%table.zebra-striped
		%thead
			%tr
				%th Starts date
				%th Ends date
				%th Title
				%th Note
				%th Filename
				%th
				%th
				%th
		%tbody
			- @reports.each do |report|
				%tr
					%td= report.starts_date
					%td= report.ends_date
					%td= report.title
					%td= report.note
					%td= report.data
					%td= link_to 'Show', report, class: 'btn secondary'
					%td= link_to 'Edit', edit_report_path(report), class: 'btn secondary'
					%td= link_to 'Destroy', report, class: 'btn danger', :confirm => 'Are you sure?', :method => :delete
	%br= link_to 'Add Report', new_report_path, class: 'btn success'
